<div class="container mt-3">
  <mat-card class="border w-50 mx-auto d-flex justify-content-center">
    <div class="d-flex justify-content-center header">
      <mat-card-header>
        <mat-card-title>Player: {{ players[currPlayerIndex].playerName }}</mat-card-title>
      </mat-card-header>
      <div class="ml-auto score">
        <mat-card-header>
          <h4 class="text-info">Score: {{ players[currPlayerIndex].score }}</h4>
        </mat-card-header>
      </div>
    </div>
    <div class="d-flex justify-content-center question">
      <mat-card-content>

        <p>{{ questions[curQuestionIndex].questionNumber }}.{{ questions[curQuestionIndex].questionString }}</p>
      </mat-card-content>
    </div>
    <div class="d-flex justify-content-center answers">
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          class="mr-1"
          (click)="selectAnswer(answer)"
          *ngFor="let answer of questions[curQuestionIndex].answerChoices">
          {{ answer }}
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
